__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
*.egg-info/
data/raw/*
!data/raw/.gitkeep
data/validation/*
!data/validation/.gitkeep
data/integrity/*
!data/integrity/.gitkeep
data/normalized/*
!data/normalized/.gitkeep
data/synchronized/*
!data/synchronized/.gitkeep
data/cleaned/*
!data/cleaned/.gitkeep
data/transformed/*
!data/transformed/.gitkeep
data/qc/*
!data/qc/.gitkeep
data/packages/*
!data/packages/.gitkeep
data/catalog/*
!data/catalog/.gitkeep
.DS_Store
